.showcase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
}

.cardHeader {
    position: absolute;
    transition: all 0.3s ease;
    transform: translateY(150%);
    font-size: larger;
}

.card:hover .cardHeader {
    font-size: medium;
    transform: translateY(0%);
}

.items {
    list-style: none;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(80%);
}

.card:hover .items {
    opacity: 1;
    transform: translateY(50%);
}

.item {
    padding-bottom: .2rem;
}