.skills {
    padding-top: 3.5rem;
}

.skillsHead {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 4rem;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
}
.col{
    padding-left: 9rem;
}

